docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}

process {
    withName: sanityCheck {
        cpus = 1
        memory = 2.GB
    }
    withName: payloadJsonToTsvs {
        cpus = 1
        memory = 2.GB
    }
    withName: payloadGenSeqExperiment {
        cpus = 1
        memory = 8.GB
    }
    withName: cram2bam {
        cpus = 4
        memory = 10.GB
    }
    withName: validateSeqtools {
        cpus = 4
        memory = 16.GB
    }
    withName: downloadPyega3 {
        cpus = 1
        memory = 8.GB
    }
    withName: downloadAspera {
        cpus = 1
        memory = 8.GB
    }
    withName: decryptAspera {
        cpus = 1
        memory = 8.GB
    }
    withName: songSubmit {
        cpus = 2
        memory = 2.GB
    }
    withName: songManifest {
        cpus = 2
        memory = 2.GB
    }
    withName: scoreUpload {
        cpus = 4
        memory = 10.GB
    }
    withName: songPublish {
        cpus = 2
        memory = 2.GB
    }
    withName: cleanupWorkdir {
        cpus = 1
        memory = 2.GB
    }
}