profiles {
	aspera {
		params.method = 'aspera'
		docker { 
			enabled = true
			runOptions = '-u \$(id -u):\$(id -g) -e ASCP_SCP_HOST=\$ASCP_SCP_HOST -e ASCP_SCP_USER=\$ASCP_SCP_USER -e ASPERA_SCP_PASS=\$ASPERA_SCP_PASS -e C4GH_PASSPHRASE\$C4GH_PASSPHRASE'
		}
	}
	pyega3{
		params.method = 'pyega3'
		docker {
			enabled = true
			runOptions = '-u \$(id -u):\$(id -g) -e PYEGA3_EGA_USER=\$PYEGA3_EGA_USER -e PYEGA3_EGA_PASS=\$PYEGA3_EGA_PASS'
		}
	}
}
