manifest {
    homePage = 'https://github.com/icgc-argo/argo-data-submission'
    description = 'ARGO Data Submission Workflow to submit genomic data to RDPC for processing'
    nextflowVersion = '>=22.10.0'
}

process {
    withName: sanityCheck {
        cpus = 1
        memory = 2.GB
    }
    withName: payloadJsonToTsvs {
        cpus = 1
        memory = 2.GB
    }
    withName: payloadGenSeqExperiment {
        cpus = 1
        memory = 8.GB
    }
    withName: cram2bam {
        cpus = 4
        memory = 10.GB
    }
    withName: validateSeqtools {
        cpus = 4
        memory = 16.GB
    }
    withName: downloadPyega3 {
        cpus = 1
        memory = 8.GB
    }
    withName: downloadAspera {
        cpus = 1
        memory = 8.GB
    }
    withName: decryptAspera {
        cpus = 1
        memory = 8.GB
    }
    withName: songSubmit {
        cpus = 2
        memory = 2.GB
    }
    withName: songManifest {
        cpus = 2
        memory = 2.GB
    }
    withName: songPublish {
        cpus = 2
        memory = 2.GB
    }
    withName: cleanupWorkdir {
        cpus = 1
        memory = 2.GB
    }
}

profiles {
  rdpc {
    params.song_url      = 'https://submission-song.rdpc.argo.genomeinformatics.org'
    params.score_url     = 'https://submission-score.rdpc.argo.genomeinformatics.org'
    params.clinical_url  = 'https://clinical.platform.icgc-argo.org'
    params.schema_url    = 'https://submission-song.rdpc.argo.genomeinformatics.org/schemas/sequencing_experiment'
  }
    docker {
        docker.enabled = true
        singularity.enabled = false
        docker.runOptions = '-u \$(id -u):\$(id -g)'
	}
    singularity {
        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.engineOptions = '-s'
    }
    rdpc_qa {
        params.song_url      = 'https://submission-song.rdpc-qa.cumulus.genomeinformatics.org'
        params.score_url     = 'https://submission-score.rdpc-qa.cumulus.genomeinformatics.org'
        params.clinical_url  = 'https://clinical.argo-qa.cumulus.genomeinformatics.org'
        params.schema_url    = 'https://submission-song.rdpc-qa.cumulus.genomeinformatics.org/schemas/sequencing_experiment'
    }
    rdpc_dev {
        params.song_url      = 'https://submission-song.rdpc-dev.cumulus.genomeinformatics.org'
        params.score_url     = 'https://submission-score.rdpc-dev.cumulus.genomeinformatics.org'
        params.clinical_url  = 'https://clinical.argo-dev.cumulus.genomeinformatics.org'
        params.schema_url    = 'https://submission-song.rdpc-dev.cumulus.genomeinformatics.org/schemas/sequencing_experiment'
    }
}
