manifest {
    homePage = 'https://github.com/icgc-argo/argo-data-submission'
    description = 'ARGO Data Submission'
    nextflowVersion = '>=20.10'
}

docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}

process {
    withName: sanityCheck {
        cpus = 1
        memory = 2.GB
    }
    withName: payloadJsonToTsvs {
        cpus = 1
        memory = 2.GB
    }
    withName: payloadGenSeqExperiment {
        cpus = 1
        memory = 8.GB
    }
    withName: cram2bam {
        cpus = 4
        memory = 10.GB
    }
    withName: validateSeqtools {
        cpus = 4
        memory = 16.GB
    }
    withName: downloadPyega3 {
        cpus = 1
        memory = 8.GB
    }
    withName: downloadAspera {
        cpus = 1
        memory = 8.GB
    }
    withName: decryptAspera {
        cpus = 1
        memory = 8.GB
    }
    withName: songSubmit {
        cpus = 2
        memory = 2.GB
    }
    withName: songManifest {
        cpus = 2
        memory = 2.GB
    }
    withName: scoreUpload {
        cpus = 4
        memory = 10.GB
    }
    withName: songPublish {
        cpus = 2
        memory = 2.GB
    }
    withName: cleanupWorkdir {
        cpus = 1
        memory = 2.GB
    }
}

profiles {
  collab {
    params.song_url      = 'https://submission-song.rdpc.cancercollaboratory.org'
    params.score_url     = 'https://submission-score.rdpc.cancercollaboratory.org'
    params.clinical_url  = 'https://clinical.platform.icgc-argo.org'
    params.schema_url    = 'https://submission-song.rdpc.cancercollaboratory.org/schemas/sequencing_experiment'
  }
  debug {
    params.song_url      = 'https://submission-song.rdpc-qa.cancercollaboratory.org'
    params.score_url     = 'https://submission-score.rdpc-qa.cancercollaboratory.org'
    params.clinical_url  = 'https://clinical.qa.argo.cancercollaboratory.org'
    params.schema_url    = 'https://submission-song.rdpc-qa.cancercollaboratory.org/schemas/sequencing_experiment'
  }
}
